<h1>以下の内容で登録しますか？</h1>
<%= form_with(model: @property, local:true, url:properties_path ) do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :price %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :years_old %>
  <%= f.hidden_field :note %>
  <%= f.fields_for :closest_stations do |cs| %>
    <%= cs.hidden_field :line %>
    <%= cs.hidden_field :station %>
    <%= cs.hidden_field :distance %>
  <% end %>

  <h3>物件詳細</h3>
  <p>物件名： <%= @property.name %></p>
  <p>賃料： <%= @property.price %>円</p>
  <p>住所： <%= @property.address %></p>
  <p>築年数： <%= @property.years_old %>年</p>
  <p>備考： <%= @property.note %></p>

  <% if @property.closest_stations.present? %>
    <% n = 0 %>
    <% @property.closest_stations.each do |sta| %>
      <h4>最寄り駅<%= n += 1 %></h4>
      <p>路線名： <%= sta.line %></p>
      <p>駅名： <%= sta.station %></p>
      <p>徒歩分数： <%= sta.distance %>分</p>
    <% end %>
  <% end %>
  <%= f.submit "登録する" %>
  <%= f.submit "戻る", name: 'back' %>
<% end %>
