<h1>物件詳細</h1>
<p>物件名： <%= @property.name %></p>
<p>賃料： <%= @property.price %></p>
<p>住所： <%= @property.address %></p>
<p>築年数： <%= @property.years_old %></p>
<p>備考： <%= @property.note %></p>
<%= link_to 'Back to Home', properties_path %>
